


.flash-card-continer {
    width: 800px;
    height: 550px;
    background-color: rgb(0, 0, 0);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid white;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 30px;
}

.card-input {
    width: 70%;
    height: 20%;
    font-size: 30px;
    margin: 2%;
}

.card-input:focus {

    outline: none;


}
