


.login-container2 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(204, 16, 16);
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 30px;


    width: 100%;
    height:200px;
    background-color: rgb(196, 27, 27);
    border: 2px solid white;
    

}

#login-button {
    color: white;
    background-color: black;
    border: 4px solid white;
    margin-top: 15%;
    margin: auto;
    font-size: 28px;
    width: 150px;
    font-family: 'ArcadeClassic', sans-serif;
}


.flex-col {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    
}