

#modal-button {
    background-color: rgb(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;

    margin-top: 5px;

    font-size: 30px;
}


#modal-button:hover {
    color: blueviolet;
}
