

.form-container {
    margin-top: 12%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 30px;

    width: 95%;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}




.form-label {
    margin: 0 2%;
    color: rgb(255, 255, 255);
    padding: 10px;


}
.form-input {
    width: 16%;
    height: 40px;
    border-bottom: 4px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 5%;
    background-color: black;
    color: white;
    font-size: 25px;


}

.form-input:focus {
    outline: none;
}

.flash-card-container {
    border: 4px solid white;
    width: 400px;
    height: 165px;
    margin: 1% 0;

    overflow-y: scroll;


}

.flash-card-container::-webkit-scrollbar {
    width: 24px;



}

.flash-card-container::-webkit-scrollbar-thumb {
    background-color: #000000;

    border: 3px solid #fff;

}


.flash-card {
    color: rgb(255, 255, 255);



    word-wrap: break-word;
    margin-left: 2%;
    font-size: 30px;
    margin-bottom: 1.1%;

    text-align: center;



}

.form-submit {
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 30px;
    border: 4px solid white;
    margin-top: 5%;
    width: 140px;
    text-align: center;


}

.errors {
    color: red;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 25px;
}
