

.chat-container{

   width: 60%;
   margin: auto;
   font-size: 24px;
   color: rgb(228, 228, 228);
   position: relative;

}



.chat-display {

    background-color: rgb(75, 75, 75);
    margin: auto;
    width: 100%;
    height: 500px;
    border: 4px solid white;
    padding-left: 5%;
    overflow-y: scroll;
    /* font-family: 'ArcadeClassic', sans-serif; */
    letter-spacing: 0.1em;



}

.chat-display::-webkit-scrollbar {
    width: 32px;



}



.chat-display::-webkit-scrollbar-thumb {
  background-color: #000000;
  /* border-radius: 10px; */
  border: 3px solid #fff;

}




.chat-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 2%;

}

.chat-input {
    width: 50%;
    height: 120px;
    border: none;
    background-color: #555555;
    font-size: 20px;
    color: white;
    resize: none;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    border: 4px solid white;


}

.chat-input:focus {
    outline: none;
}




.chat-input::-webkit-scrollbar {
    width: 32px;



}



.chat-input::-webkit-scrollbar-thumb {
  background-color: #000000;
  /* border-radius: 10px; */
  border: 3px solid #fff;

}









.unknown-word {
    background-color: rgba(54, 41, 236, 0.5);
    font-weight: bolder;
    border-radius: 10px;
}


.word-popup {
    display: flex;
    justify-content: center;

    height: 250px;
    width: 500px;
    border: 4px solid white;
    background-color: #555555;
    position: absolute;
    top: 10%;
    right: 2%;
}


.outter-chat-container {
    position: relative;
}

.info-message {
    color: rgb(255, 255, 255);
     font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    position: absolute;
    top: 5%;
    left: 35%;
    z-index: 100;
    width: 600px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 10px;
    border: 2px solid white;
}

.close-info {
    font-size: 40px;
    text-align: end;
    cursor: pointer;
}

.close-info:hover {
    color: blueviolet;
}



.chat-send-button {
    margin: 2%;
    background-color: black;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    border: 4px solid white;
    color: white;
    font-size: 28px;
    padding: 4px;
    width: 10%;
    cursor: pointer;
}

.chat-send-button:hover {
    color: blueviolet
}



.test2 {

    width: 58%;

    font-size: 24px;
    background-color: rgb(75, 75, 75);


    height: 500px;
    border: 4px solid white;
    padding-left: 5%;
    overflow-y: none;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
}
