

.chat-container{

   width: 60%;
   margin: auto;
   font-size: 24px;
   color: white;
}



.chat-display {

    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 100%;
    height: 400px;
    border: 4px solid white;
    padding-left: 5%;



}


.chat-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 2%;

}

.chat-input {
    width: 50%;
    border: none;

}



.unknown-word {
    background-color: rgba(54, 41, 236, 0.5);
    font-weight: bolder;
    border-radius: 10px;
}
