

.flash-card-front {
    color: white;
}


.review-container {
    border: 4px solid white;
    width: 40%;
    height: 300px;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 25px;
    margin: 8% 0;
    display: flex;
    justify-content: center;
    align-items: center;

}


.outter-review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.change-cards {
    margin: 0 4%;

}
