

.flash-card-style {
    color: white;
    word-wrap: break-word;
    margin-top: 16%;

    text-align: center;
}


.review-container {
    border: 4px solid white;
    width: 40%;
    height: 300px;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 25px;
    margin: 8% 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    padding: 12px;

}


.outter-review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.change-cards {
    margin: 0 2%;
    font-size: 70px;

}


.flip {
    font-size: 60px;
    position: absolute;
    top: 0%;
    right: 2%;
}
