.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.login-signup-container {
  display: flex;
  flex-direction: column;

  width: fit-content;
  margin: 20% auto;
}


.login-container {
  margin: 15% 0;
  text-align: center;
}

.signup-container {
  margin: 15% 0;
  text-align: center;


}


.demo-user {
  color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 30px;
    border: 4px solid white;
    margin-top: 5%;
    width: 140px;
    text-align: center;
}
