.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.login-signup-container {
  display: flex;
  flex-direction: column;

  width: fit-content;
  margin: 50px auto;
  

}




.login-signup-container button {
  cursor: pointer;
}






.login-container {
  margin: 15% 0;
  text-align: center;

}

.login-container button {
  width: 100%;
}

.login-container:hover {
  color: blueviolet;
}

.signup-container {
  margin: 15% 0;
  text-align: center;

}

.signup-container button {
  width: 100%;
}


.full-width-button button{
  width: 100%;
}




.demo-user {
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    font-size: 30px;
    border: 4px solid white;
    margin-top: 5%;
    width: 170px;
    text-align: center;
    padding: 5px;
    margin-top: 15%;
    cursor: pointer;
}

.demo-user:hover {
  color: blueviolet;
}


.main-title {
  text-align: center;
  color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    margin-top: 200px;
    margin-bottom: 0;
    font-size: 60px;
}

