
.dash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:  3%;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-weight: 100;
    position: relative;
}



img {
    background-color: rgb(255, 255, 255);
    width: 70%;
    background-color: black;
    margin: 1%;
}

#save-languages {
    font-size: 28px;

    color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    margin-top: 0;
    position: absolute;
    top: 83%;

}

#save-languages:hover {
    color: blueviolet;
}


.testing {
    border: 10px solid white;
}



#title-languages {
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 0.1em;
    color: rgb(206, 206, 206);
    margin: 0;
}




.icon {
    color: white;
}




.world-map {

    transform: scale(0.7);
    fill: rgb(122, 122, 122);

    margin: 0;

}





.Brazil:hover {
    fill: rgba(107, 209, 97, 0.5);
}

.selected-Portuguese{
    fill: rgba(107, 209, 97, 0.5);
}

.Russian-Federation:hover path {
    fill: rgba(141, 129, 255, 0.5);
}


.selected-Russian {
    fill:rgba(141, 129, 255, 0.5);

}



.China:hover {
    fill: rgba(241, 69, 69, 0.5);
}

.selected-Chinese {
    fill: rgba(241, 69, 69, 0.5);
}


.United-States:hover {
    fill: rgba(164, 231, 255, 0.5);
}

.selected-English {
    fill: rgba(164, 231, 255, 0.5);

}





.changes-saved-message {
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 29%;
    left: 46.5%;
    font-size: 40px;
    animation: wordAdded .75s ease-out 0s infinite;
}



@keyframes wordAdded {
    0% {
      transform: scale(.9);
    }
    100% {
      transform: scale(1.5);
    }
  }
