
.dash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:  3%;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-weight: 100;
    position: relative;
}



img {
    background-color: rgb(255, 255, 255);
    width: 70%;
    background-color: black;
    margin: 1%;
}

#save-languages {
    font-size: 26px;

    color: blueviolet;
    letter-spacing: 0.1em;
}

#title-languages {
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 0.1em;
    color: blueviolet;
}


.path {
    position: absolute;
    top: 0%;
}

.icon {
    color: white;
}


#Brazil {
    /* background-color: rgba(228, 170, 170, 0.5); */

    position: absolute;
    top: 49%;
    left: 29%;
    width: 12%;
    height: 30%;
    /* https://www.cssportal.com/css-clip-path-generator    <--/ */
    -webkit-clip-path: polygon(52% 83%, 48% 79%, 52% 76%, 53% 71%, 49% 68%, 46% 65%, 45% 61%, 43% 56%, 38% 51%, 33% 48%, 30% 44%, 25% 46%, 21% 44%, 18% 43%, 16% 40%, 17% 35%, 23% 33%, 23% 23%, 27% 22%, 30% 24%, 33% 23%, 33% 19%, 37% 18%, 40% 17%, 40% 21%, 43% 23%, 46% 22%, 50% 22%, 53% 19%, 56% 23%, 57% 26%, 58% 27%, 59% 26%, 61% 26%, 62% 27%, 63% 27%, 63% 28%, 64% 30%, 70% 30%, 74% 31%, 76% 34%, 81% 36%, 82% 38%, 82% 41%, 80% 43%, 78% 47%, 76% 50%, 75% 55%, 75% 59%, 73% 65%, 72% 67%, 69% 67%, 62% 71%, 61% 77%, 59% 82%, 58% 85%, 56% 86%);
    clip-path: polygon(52% 83%, 48% 79%, 52% 76%, 53% 71%, 49% 68%, 46% 65%, 45% 61%, 43% 56%, 38% 51%, 33% 48%, 30% 44%, 25% 46%, 21% 44%, 18% 43%, 16% 40%, 17% 35%, 23% 33%, 23% 23%, 27% 22%, 30% 24%, 33% 23%, 33% 19%, 37% 18%, 40% 17%, 40% 21%, 43% 23%, 46% 22%, 50% 22%, 53% 19%, 56% 23%, 57% 26%, 58% 27%, 59% 26%, 61% 26%, 62% 27%, 63% 27%, 63% 28%, 64% 30%, 70% 30%, 74% 31%, 76% 34%, 81% 36%, 82% 38%, 82% 41%, 80% 43%, 78% 47%, 76% 50%, 75% 55%, 75% 59%, 73% 65%, 72% 67%, 69% 67%, 62% 71%, 61% 77%, 59% 82%, 58% 85%, 56% 86%);
}

#Brazil:hover {
    background-color: rgba(10, 173, 18, 0.4);
    border: 4px solid white;
}


#Russia {
    position: absolute;
    top: 6%;
    right: 22%;
    width: 28%;
    height: 38%;

    -webkit-clip-path: polygon(19% 36%, 12% 38%, 4% 33%, 5% 38%, 5% 42%, 6% 45%, 4% 48%, 6% 54%, 11% 61%, 13% 64%, 12% 68%, 20% 73%, 20% 67%, 18% 63%, 21% 60%, 25% 61%, 30% 55%, 34% 55%, 38% 59%, 44% 63%, 52% 60%, 64% 62%, 65% 56%, 76% 67%, 75% 72%, 79% 70%, 78% 59%, 72% 53%, 73% 49%, 78% 49%, 83% 46%, 83% 50%, 86% 58%, 89% 60%, 89% 57%, 89% 54%, 86% 49%, 92% 45%, 91% 42%, 95% 41%, 92% 38%, 81% 34%, 79% 35%, 68% 32%, 64% 31%, 58% 32%, 53% 30%, 48% 30%, 47% 29%, 45% 27%, 41% 25%, 36% 27%, 28% 32%, 24% 31%, 24% 35%);
    clip-path: polygon(19% 36%, 12% 38%, 4% 33%, 5% 38%, 5% 42%, 6% 45%, 4% 48%, 6% 54%, 11% 61%, 13% 64%, 12% 68%, 20% 73%, 20% 67%, 18% 63%, 21% 60%, 25% 61%, 30% 55%, 34% 55%, 38% 59%, 44% 63%, 52% 60%, 64% 62%, 65% 56%, 76% 67%, 75% 72%, 79% 70%, 78% 59%, 72% 53%, 73% 49%, 78% 49%, 83% 46%, 83% 50%, 86% 58%, 89% 60%, 89% 57%, 89% 54%, 86% 49%, 92% 45%, 91% 42%, 95% 41%, 92% 38%, 81% 34%, 79% 35%, 68% 32%, 64% 31%, 58% 32%, 53% 30%, 48% 30%, 47% 29%, 45% 27%, 41% 25%, 36% 27%, 28% 32%, 24% 31%, 24% 35%);
}

#Russia:hover {
    position: absolute;
    top: 6%;
    right: 22%;
    width: 28%;
    height: 38%;
    background-color: rgba(0, 4, 255, 0.4);
    -webkit-clip-path: polygon(19% 36%, 12% 38%, 4% 33%, 5% 38%, 5% 42%, 6% 45%, 4% 48%, 6% 54%, 11% 61%, 13% 64%, 12% 68%, 20% 73%, 20% 67%, 18% 63%, 21% 60%, 25% 61%, 30% 55%, 34% 55%, 38% 59%, 44% 63%, 52% 60%, 64% 62%, 65% 56%, 76% 67%, 75% 72%, 79% 70%, 78% 59%, 72% 53%, 73% 49%, 78% 49%, 83% 46%, 83% 50%, 86% 58%, 89% 60%, 89% 57%, 89% 54%, 86% 49%, 92% 45%, 91% 42%, 95% 41%, 92% 38%, 81% 34%, 79% 35%, 68% 32%, 64% 31%, 58% 32%, 53% 30%, 48% 30%, 47% 29%, 45% 27%, 41% 25%, 36% 27%, 28% 32%, 24% 31%, 24% 35%);
    clip-path: polygon(19% 36%, 12% 38%, 4% 33%, 5% 38%, 5% 42%, 6% 45%, 4% 48%, 6% 54%, 11% 61%, 13% 64%, 12% 68%, 20% 73%, 20% 67%, 18% 63%, 21% 60%, 25% 61%, 30% 55%, 34% 55%, 38% 59%, 44% 63%, 52% 60%, 64% 62%, 65% 56%, 76% 67%, 75% 72%, 79% 70%, 78% 59%, 72% 53%, 73% 49%, 78% 49%, 83% 46%, 83% 50%, 86% 58%, 89% 60%, 89% 57%, 89% 54%, 86% 49%, 92% 45%, 91% 42%, 95% 41%, 92% 38%, 81% 34%, 79% 35%, 68% 32%, 64% 31%, 58% 32%, 53% 30%, 48% 30%, 47% 29%, 45% 27%, 41% 25%, 36% 27%, 28% 32%, 24% 31%, 24% 35%);
}
