
.dash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:  3%;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-weight: 100;
    position: relative;
    margin-bottom: 0;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}



img {
    background-color: rgb(255, 255, 255);
    width: 70%;
    background-color: black;
    margin: 1%;
}

#save-languages {
    font-size: 36px;

    color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    margin-top: 0;
    position: absolute;
    top: 88%;
    cursor: pointer;

}

#save-languages:hover {
    color: blueviolet;
}


.testing {
    border: 10px solid white;
}



#title-languages {
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 0.1em;
    color: rgb(219, 219, 219);
    margin: 40px;
}




.icon {
    color: white;
}




.world-map {

    width: 100%;
    fill: rgb(122, 122, 122);
    height: auto;
    margin: 0;

    

}





.Brazil:hover {
    fill: rgba(107, 209, 97, 0.5);
}

.selected-Portuguese{
    fill: rgba(107, 209, 97, 0.5);
}

.Russian-Federation:hover path {
    fill: rgba(141, 129, 255, 0.5);
}


.selected-Russian {
    fill:rgba(141, 129, 255, 0.5);

}


.German:hover {
    fill:rgba(191, 212, 1, 0.5);
}

.selected-German {
    fill:rgba(191, 212, 1, 0.5);
}


.France:hover {
    fill:rgba(255, 88, 59, 0.5);
}

.selected-French {
    fill:rgba(255, 88, 59, 0.5);
}


.China:hover {
    fill: rgba(241, 69, 69, 0.5);
}

.selected-Chinese {
    fill: rgba(241, 69, 69, 0.5);
}


.United-States:hover {
    fill: rgba(164, 231, 255, 0.5);
}

.selected-English {
    fill: rgba(164, 231, 255, 0.5);

}

.selected-Bulgarian {
    fill: rgba(0,145,107, 0.5);

}

.Bulgaria:hover {
    fill: rgba(0,145,107, 0.5);

}


.selected-Ukrainian  {
    fill: rgba(0,88,181, 0.5);

}

.Ukraine:hover {
    fill: rgba(0,88,181, 0.5);

}






.changes-saved-message {
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 29%;
    left: 46.5%;
    font-size: 40px;
    animation: wordAdded .75s ease-out 0s infinite;
}



@keyframes wordAdded {
    0% {
      transform: scale(.9);
    }
    100% {
      transform: scale(1.5);
    }
  }


  .not-active {

    fill: rgb(59, 59, 59);
  
  }