
.dash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:  3%;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-weight: 100;
}

img {
    background-color: rgb(255, 255, 255);
    width: 70%;
    background-color: black;
    margin: 1%;
}

#save-languages {
    font-size: 26px;

    color: blueviolet;
    letter-spacing: 0.1em;
}

#title-languages {
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 0.1em;
    color: blueviolet;
}
