

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 50%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;


}
.nav-option {
    font-family: 'ArcadeClassic', sans-serif;
    color: rgb(255, 255, 255);

    font-size: 28px;
    letter-spacing: 0.1em;
    margin: 10px 0;
    text-decoration: none;
  }
