.popup-button-container {
    display: flex;

    width: 450px;
    justify-content: center;


    background-color: red;


}


.popup-buttons {
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    margin: 0 1%;

    border: 4px solid white;
    background-color: black;
    font-size: 18px;
    padding: 3px;

}


.popup-word {
    color: white;
    margin-top: 10%;
    letter-spacing: 0.1em;
    font-size: 20px;
    background-color: red;
    width: fit-content;


}
