
.popup-container {
    width: 63%;

    font-size: 24px;
    background-color: rgb(0, 0, 0);
    margin-left: 20%;
    overflow-y: scroll;

    height: 500px;
    border: 4px solid white;

    overflow-y: none;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
}





.popup-container::-webkit-scrollbar {
  width: 24px;



}

.popup-container::-webkit-scrollbar-thumb {
  background-color: #000000;

  border: 3px solid #fff;

}










.popup-button-container {
    display: flex;

    width: 450px;
    justify-content: center;


    background-color: rgb(7, 7, 7);
    margin: 100px auto;


}


.popup-buttons {
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    margin: 2% 1%;

    border: 4px solid white;
    background-color: black;
    font-size: 18px;
    padding: 3px;
    width: fit-content;

}


.popup-word {
    color: white;
    margin: 10% auto;

    letter-spacing: 0.1em;
    font-size: 28px;

    width: fit-content;

}

.word-translated {
     color: white;
    margin: 10% auto;

    letter-spacing: 0.1em;
    font-size: 28px;

    width: fit-content;

}


.word-added-message {
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 23%;
    left: 48.5%;
    font-size: 40px;
    animation: wordAdded .75s ease-out 0s infinite;
}



@keyframes wordAdded {
    0% {
      transform: scale(.9);
    }
    100% {
      transform: scale(1.5);
    }
  }


  .container-decks {

    width: 95%;
    height: 50%;
    margin: auto;
    margin-top: 5%;
    font-size: 30px;
    text-align: center;
    color: white;
  }

  #select-deck-title {
    color: white;

    text-align: center;
  }

  .deck-option:hover {
    color: blueviolet;
  }

  .all-black {
    color: rgb(0, 0, 0);
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    margin: 0 1%;

    border: 4px solid rgb(0, 0, 0);
    background-color: black;
    font-size: 18px;
    padding: 3px;

  }



  #select-deck-title {
    margin-top: 13%;
    font-size: 32px;

  }

  #select-deck-title:hover {
    color: blueviolet;

  }

  #create-deck-btn:hover {
    color: blueviolet;

  }

  .deck-choice-container {
    margin-top: 15%;
  }
