
.popup-container {
    width: 63%;

    font-size: 24px;
    background-color: rgb(75, 75, 75);
    margin-left: 20%;

    height: 500px;
    border: 4px solid white;

    overflow-y: none;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
}



.popup-button-container {
    display: flex;

    width: 450px;
    justify-content: center;


    background-color: red;
    margin: auto;


}


.popup-buttons {
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    margin: 0 1%;

    border: 4px solid white;
    background-color: black;
    font-size: 18px;
    padding: 3px;

}


.popup-word {
    color: white;
    margin: 10% auto;

    letter-spacing: 0.1em;
    font-size: 20px;
    background-color: red;
    width: fit-content;
}

.word-translated {
     color: white;
    margin: 10% auto;

    letter-spacing: 0.1em;
    font-size: 20px;
    background-color: red;
    width: fit-content;

}
