
h1 {
    color: white;
}

.outter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
}

.decks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    justify-content: center;
    width: 60%;
    margin: auto;
}


.deck-tile {

    border: 4px solid white;
    margin: 15px 40px;
    font-size: 30px;
    padding: 18px;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 250px;
    word-wrap: break-word;
    text-align: center;




}


#create-a-deck {
    margin-top: 3%;
    font-size: 30px;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 4px solid white;

}

#create-a-deck:hover {
    color: blueviolet;
}


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}



.deck-buttons {
    color: white;

    margin: 0 46px;
    cursor: pointer;
}
.deck-buttons:hover {
    color: blueviolet;
}




.deck-buttons-container {
    display: flex;

}


.please-select {
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    color: red;
    margin: 5% auto;
    width: fit-content;


}


.navLink {
    text-decoration: none;
}


.navLink:hover {
    color: blueviolet;
}


.confirm-delete {
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    position: absolute;
    border: 2px solid white;
    width: 500px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border: 2px solid white;
}

.btn-option {
    border: 4px solid white;
    padding: 10px;
    cursor: pointer;
}

.btn-option:hover {
    color: blueviolet;
}

