
h1 {
    color: white;
}

.outter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
}

.decks-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    width: 60%;
    margin: auto;
}


.deck-tile {

    border: 4px solid white;
    margin: 10px 40px;
    font-size: 30px;
    padding: 18px;
    color: blueviolet;
    /* width: 25%; */



}


#create-a-deck {
    margin-top: 3%;
    font-size: 30px;

}


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deck-buttons {
    color: white;

    margin: 0 10px;
}

.deck-buttons-container {
    display: flex;

}


.please-select {
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 0.1em;
    color: red;
    margin: 5% auto;
    width: fit-content;


}
